.center {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3a8ee6;
}

.shift {
    display: flex;
    justify-content: center;
    align-items: center;
}

.el-table .warning-row {
    background: oldlace;
}

.el-table .success-row {
    background: #f0f9eb;
}

.el-form-item.course-input {
    margin-right: 915px; /* 或其他间距值 */
}
.el-form-item.course-input1{
    margin-right: 840px;
}







